:root {
    --headfont: Imperial Script;
    --textfont: Cormorant;

    --backgroundcolor: #353736;
    --fontcolor: rgb(255, 255, 255);
    --textcolor: rgb(254, 252, 228);
    --cheesycolor: rgb(229, 222, 158);
}

body {
    background-color: var(--backgroundcolor);
    box-sizing: border-box;
    width: 100vw;
    overflow-x: hidden;
    margin: 0;
}

h1 {
    font-family: var(--textfont);
    font-size: 4rem;
    color: var(--cheesycolor);
    font-weight: 300;
    margin-bottom: 20px;
    margin-left: 3rem;
    margin-right: 3rem;
}

h2 {
    font-family: var(--headfont);
    font-size: 3rem;
    color: var(--fontcolor);
}
h3 {
    font-family: var(--textfont);
    color: var(--fontcolor);
    font-weight: 200;
    display: inline-block;
    margin-bottom: 3rem;
}

h4 {
    font-family: var(--textfont);
    color: var(--cheesycolor);
    font-weight: 200;
    border: 1px solid var(--cheesycolor);
    display: inline-block;
    padding: 7px;
}

h5 {
    font-size: 20px;
    color: rgb(250, 126, 126);
    font-weight: 300;
    font-family: Arial, Helvetica, sans-serif;
}

li {
    list-style: none;
}

p {
    font-family: var(--textfont);
    font-size: 1.3rem;
    font-weight: 200;
    color: var(--fontcolor);
}

header {
    margin-left: 2rem;
}

a {
    text-decoration: none;
    color: inherit;
}

img {
    width: 30vw;
    height: 300px;
    object-fit: cover;
}

main {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 1rem;
    justify-content: center;
    margin: 0;
    padding: 0;
}

.form {
    width: 30vw;
    flex-wrap: wrap;
    flex-direction: column;
    margin-left: 3rem;
}

label {
    color: var(--textcolor);
    font-size: 1rem;
    font-weight: 200;
    font-family: Arial, Helvetica, sans-serif;
}
input {
    height: 30px;
    outline: none;
    padding: 7px;
    font-size: 1rem;
}

textarea {
    height: 70px;
    outline: none;
    padding: 7px;
}

/* button, .button-style {
    width: 5rem;
    height: 2rem;
    background-color: var(--fontcolor);
    color: var(--backgroundcolor);
    border: none;
    border-radius: 12px;
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
    cursor: pointer;
    transition: all 0.3s ease;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
} */

button, .button-style {
    width: 5rem;
    height: 2rem;
    background-color: var(--fontcolor);
    color: var(--backgroundcolor);
    border: none;
    border-radius: 12px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
    cursor: pointer;
    transition: all 0.3s ease;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    text-align: center;
    display: inline-flex; 
    align-items: center; 
    justify-content: center; 
    text-decoration: none; 
    
}

button:hover, .button-style:hover{
    background-color: var(--cheesycolor);
    transform: translateY(-3px);
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.3);
}

button:active, .button-style:active {
    transform: translateY(1px);
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
}

button.logout {
    width: 7rem;
    height: 3;
    margin: 2rem;
}

.edit_delete {
    display: flex;
    gap: 2rem;
    margin-top: 2rem;
    margin-bottom:2rem;
}

article.show {
    margin: 3rem;
}

.cheeseContainer {
    display: flex;
    width: 30%;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 0;
    padding: 10px;
    border: 1px solid rgb(38, 38, 38);
    box-shadow: -2px -2px 5px rgba(45, 45, 45, 0.3),
        2px 2px 5px rgba(37, 37, 37, 0.7);
}

select {
    -webkit-appearance: none;
    appearance: none;
    background-color: #1a1d23;
    color: white;
    border: 2px solid #444d56;
    border-radius: 10px;
    padding: 12px 16px;
    font-size: 16px;
    width: 200px;
    transition: all 0.3s ease;
}

select:hover {
    border-color: #fbf3d6;
    cursor: pointer;
}

option {
    background-color: #2b2e35;
    color: white;
    padding: 12px;
    border-radius: 10px;
    font-size: 12px;
}

option:hover {
    background-color: #444d56;
}

select:focus {
    outline: none;
}

.v-5,
.h-5, .px-4 {
    width: 30px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
}

div.flex-1 {
    display:none;
}

p.text-sm {
    margin:21px;
}

.ms-3 {
    width: 6rem;
    margin-top: 1rem;
}

.inline-flex {
    display: inline-flex;
    justify-content: center;
}

.welcome {
    text-align: center;
    margin-top: 8rem;
}

.welcome.smaller {
    font-size: 2rem;
    margin-bottom: 4rem;
    margin-top: 0;
}

.alert {
    color: rgb(249, 238, 223);
    padding: 10px;
    font-size: 20px;
}

@media (min-width: 640px) {
    .sm\:justify-center {
        justify-content: flex-start;
    }
}
